[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
numpy = "*"
google-cloud = "*"
google-cloud-storage = "*"
google-cloud-firestore = "*"
firebase-admin = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
